<% if current_usuario.pessoa.funcoes.last.nome == "Gestor de transporte" %>
<div class="row">
  <div class="col-sm-3">
    <div class="thumbnail">
      <div>   
        <span class=" label label-primary pull-right">
          <%= link_to '<i class="fa fa-inbox fa-2x"></i> '.html_safe, {controller: :mapa_de_bordos, action: :index, status: 'aberto'}, style:"color: white" %>
        </span>
      </div>
      <h4>Em Aberto</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins">
            <%= @mapa_de_bordos[:aberto].count %>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="thumbnail">
      <div>
        <span class="label label-danger pull-right">
          <%= link_to '<i class="fa fa-inbox fa-2x"></i> '.html_safe, {controller: :mapa_de_bordos, action: :index, status: 'finalizado'}, style:"color: white" %>
        </span>
      </div>
      <h4>Finalizado</h4>
      <div class="caption">
        <div class="ibox-content">
          <h1 class="no-margins">
            <%= @mapa_de_bordos[:finalizado].count %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>