<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
        <div>
            <span class=" label label-info pull-right">
                <%= link_to '<i class="fas fa-road fa-2x"></i>'.html_safe, {controller: :veiculos, action: :index, status: 'ativos'}, style:"color: white" %>
            </span>
        </div>
        <h4>Em Serviço</h4>
        <div class="caption">
            <div class="ibox-content">
                <h1 class="no-margins">
                    <%= @veiculos[:ativos].count %>
                </h1>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
        <div>   
            <span class=" label label-danger pull-right">
                <%= link_to '<i class="fas fa-wrench fa-2x"></i> '.html_safe, {controller: :veiculos, action: :index, status: 'manutencao'}, style:"color: white" %>
            </span>
        </div>
        <h4>Em Manutenção</h4>
        <div class="caption">
            <div class="ibox-content">
                <h1 class="no-margins">
                    <%= @veiculos[:manutencao].count %>
                </h1>
            </div>
        </div>
        </div>
    </div>  
</div>